@page "/"
@namespace InterviewTrivia.BlazorApp.p9.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InterviewTrivia.BlazorApp.p9</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script type="text/javascript">
        window.TreeFuncs = {
            GetSvg: () => { return document.getElementById("linesSvg"); },
            NodeOffsets:[],
            RegisterLine: (target) => {
                var currentNodeOffset = {
                    value: target.innerText, position: { top: target.getBoundingClientRect().top, left: target.getBoundingClientRect().left}
                };
                TreeFuncs.NodeOffsets.push(currentNodeOffset);
                if (target.title) {

                    var parentOffset = TreeFuncs.NodeOffsets.filter((nodeOffset) => {
                        return nodeOffset.value == target.getAttribute("parent");
                    })[0];

                    var src = parentOffset.position.left < currentNodeOffset.position.left ? parentOffset : currentNodeOffset;
                    var dest = parentOffset.position.left < currentNodeOffset.position.left ? currentNodeOffset : parentOffset ;

                    var newLine = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                    newLine.setAttribute('x1', src.position.left);
                    newLine.setAttribute('y1', src.position.top);
                    newLine.setAttribute('x2', dest.position.left);
                    newLine.setAttribute('y2', dest.position.top);
                    newLine.setAttribute("stroke", "blue")
                    TreeFuncs.GetSvg().append(newLine);
                }
            }
        }
    </script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>
</body>
</html>
